body{
    background-color: black;
}
h1 {
    text-align: center;
    background-color: aqua;
    color: white;
}
ul{
    color: white;
    text-align: center;
    font-size: 32px;
}
a{
    color: crimson;
}